/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:ital,wght@0,400;1,400;1,900&family=Staatliches&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.sub-title {
  font-size:1.3rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items:  center;
}


.forma-quadrado {
  position: absolute;
  left: 0;
  background: #fff3;
  height: 100%;
  width: 80%;
  border-radius: 0px 50px 40px 0;
}

.hidden {
  display: none;
  visibility: hidden;
  position: absolute;
}



section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-link {
  margin-left: 10px;
}
.btn {
    background: linear-gradient(to bottom, #FFD700, #FFA500);
  border: none;
  color: white;
   padding: 10px 20px;
   font-family: 'Staatliches', cursive;
  text-align: center;
   text-decoration: none;
   display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40px;
}

/* .marca-texto {
  padding: 1px 5px;
  margin: 3px;
  animation: grifar 3s timing-function delay iteration-count direction fill-mode;
  animation-name: grifar;
  animation-duration: 1s;
  anima
}

@keyframes grifar {
  from {
    background-color: #fffff;
  }

  to {
    background-color: #FFA500;
  }

} */

/* Seção Principal */
.secao-principal {
  flex-wrap: wrap;
  width: 100%;
  
  background: #fff;
}


.secao-principal img {
  max-width: 100%;
}

.img-principal {
  width: 50%;
  min-width: 500px;
}

.container-text-imagem {
  width: 40%;
}

.title {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Seção de cards */

.container {
  margin-top: 400px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;
}

.cards {
  gap: 40px;
  flex-wrap: wrap;
  
}
.container .card {
  position: relative;
  width: 270px;
  height: 480px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  
  margin-top: 2px;
}

.container .circle {
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
 clip-path: circle(180px at center 0 );
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
}

.circle > div {
  margin-bottom: 385px;
  color: yellow;
}

.card .content {
  position: relative;
  bottom: 280px;
  padding: 20px;
  text-align: center;
}

.container .card .content a {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
}

/* Funcionalidade nivel de felicidade*/

.wrapper {
  flex-direction: column;
  gap: 90px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
}

.wrapper {
  height: auto;
  width: 90vw;
}

.emojis {
  width: 90vw;

}

.emojis > div {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.emojis img {
  width: 100%;
  height: 100%;
}

.wrapper .slider {
  flex-direction: column;
  width: 50vw;
  gap: 20px;
}

.range-pontos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.range-pontos img {
  width: 6vw;
}

.texto-condicional {
  background:yellowgreen;
  padding: 10px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Staatliches', cursive;
}

/* Animação do texto / motivacional */
.secao-motivacional{
  flex-wrap: wrap;
  height: auto;
  background: white;
  width: 90vw;
  border-radius: 10px;
}
  
 .container-text {
   word-wrap: break-word;
   text-align: center;
   width: 400px;
   height: auto;
   overflow: hidden; 
 } 

 .container-text .text { 
   position: relative; 
   color: blue; 
   font-size: 30px; 
   font-weight: 600; 
 } 
  
 .container-text .text.primeiro-texto { 
   color: black; 
 } 
  
 .text.segundo-texto:before { 
   content: ""; 
   position: absolute; 
   top: 0; 
   left: 0; 
   height: 100%; 
   width: 100%; 
   background-color: #fff; 
   border-left: 2px solid #4070F4; 
   animation: animate 4s steps(12) infinite; 
 } 
  
 @keyframes animate { 
   40%, 60% { 
     left: calc(100% + 4px); 
   } 
  
   100% { 
     left: 0%; 
   } 
 }